In [1]:
import pandas as pd

In [2]:
sales_data_raw = pd.read_excel('sales_data_m.xlsx')

In [4]:
sales_data_raw.count()

企業名     1000
担当名     1000
住所      1000
電話番号    1000
日付      1000
売上      1000
dtype: int64

In [5]:
# header
sales_data_raw.columns

Index(['企業名', '担当名', '住所', '電話番号', '日付', '売上'], dtype='object')

In [6]:
# 顧客別に売上を集計
sales_data_by_company = sales_data_raw.groupby(['企業名']).sum()

In [7]:
sales_data_by_company

              売上
企業名
中島情報有限会社  658818
合同会社大垣電気  546819
吉田印刷有限会社  617199
有限会社井上保険  569466
株式会社小林ガス  470880
株式会社青山鉱業  482860
津田通信合同会社  559329
藤本電気合同会社  561756
野村建設合同会社  617630
高橋ガス有限会社  498603

In [8]:
sales_data_by_company.count()

売上    10
dtype: int64

In [9]:
# 顧客ｘ日付で売上を集計
sales_data_by_company_date = sales_data_raw.groupby(['企業名', '日付']).sum()

In [10]:
sales_data_by_company_date

                        売上
企業名      日付
中島情報有限会社 2019-08-13  80664
         2019-09-10  41040
         2019-11-02  56048
         2019-12-01  67375
         2019-12-05  83267
...                    ...
高橋ガス有限会社 2019-12-26  30491
         2020-01-05  51416
         2020-01-14  60047
         2020-03-01  60181
         2020-05-09  58665

[100 rows x 1 columns]

In [11]:
sales_data_by_company_date.count()

売上    100
dtype: int64

In [12]:
# 結果を出力
with pd.ExcelWriter('results.xlsx') as writer:  
    sales_data_by_company.to_excel(writer,sheet_name='売上実績_顧客別')
    sales_data_by_company_date.to_excel(writer,sheet_name='売上実績_顧客ｘ日付別')