In [1]:
import pandas as pd

In [6]:
sales_data_raw = pd.read_excel('sales_data.xlsx')

In [7]:
sales_data_raw.count()

企業名     1000
担当名     1000
住所      1000
電話番号    1000
日付      1000
売上      1000
dtype: int64

In [8]:
# header
sales_data_raw.columns

Index(['企業名', '担当名', '住所', '電話番号', '日付', '売上'], dtype='object')

In [9]:
# 顧客別に売上を集計
sales_data_by_company = sales_data_raw.groupby(['企業名']).sum()

In [10]:
sales_data_by_company

              売上
企業名
合同会社廣川保険  464371
合同会社村山建設  547904
小泉通信株式会社  656339
山本食品有限会社  528858
山田鉱業合同会社  655576
有限会社伊藤建設  551190
有限会社鈴木保険  508892
株式会社桐山銀行  492619
株式会社藤本電気  493460
株式会社青山ガス  540643

In [11]:
sales_data_by_company.count()

売上    10
dtype: int64

In [12]:
# 顧客ｘ日付で売上を集計
sales_data_by_company_date = sales_data_raw.groupby(['企業名', '日付']).sum()

In [13]:
sales_data_by_company_date

                        売上
企業名      日付
合同会社廣川保険 2019-07-23  30609
         2019-08-02  42095
         2019-09-15  52801
         2019-09-16  77546
         2020-01-11  28430
...                    ...
株式会社青山ガス 2020-01-25  99665
         2020-02-28  58625
         2020-03-24  63864
         2020-05-01  60037
         2020-05-24  52601

[100 rows x 1 columns]

In [14]:
sales_data_by_company_date.count()

売上    100
dtype: int64

In [15]:
# 結果を出力
with pd.ExcelWriter('results.xlsx') as writer:  
    sales_data_by_company.to_excel(writer,sheet_name='売上実績_顧客別')
    sales_data_by_company_date.to_excel(writer,sheet_name='売上実績_顧客ｘ日付別')